<!-- De pagina waarbinnen een nieuw onderzoek aangemaakt kan worden. -->
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_choose_model.css') }}">
    <h1>Choose a model (or create one)</h1>
    <!-- De Form waarbinnen een nieuw onderzoek aangemaakt kan worden. -->
    {% if amount_of_models > 0 %}
        {% for model in models %}
            <details>
              <summary>{{ model.name }}</summary>
              <h1>Core variables</h1>
              {% for corevariable in model.linked_corevariables %}
                <p>corevariable.name</p>
              {% endfor %}
            </details>
        {% endfor %}
    {% else %}
        <p>You have not created any models yet. Please create one to continue with setting up the study.</p>
    {% endif %}
    <button type="button" onclick="window.location.href='{{ url_for('create_study.create_new_model', study_code=study.code) }}';">
        Create new model
    </button>
{% endblock %}
